# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/
dist/

# env
.env
.env*.local

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# typescript
*.tsbuildinfo

# testing / coverage
coverage/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# docker
*.local
